body {
  color: #fff;
  margin-top: 4em;
  text-align: center;
  background-color: #000;
}

#card {
  margin-top: 3em;
  margin-left: 32em;
  margin-right: 32em;
  padding: 1em 4em 2em 4em;
  background-color: #efefed;
}

@media all and (max-width: 1200px) {
  #card {
    margin-left: 6em;
    margin-right: 6em;
    padding: 1em 4em 2em 4em;
  }
}

@media all and (max-width: 600px) {
  #card {
    margin-left: 4em;
    margin-right: 4em;
    padding: 0.5em 2em 1em 2em;
  }
}